:root {


	--rojo-100: #D21312;
	--rojo-50: #ED2B2A;
	--rojo-claro: #F15A59;


}




.bg-danger {
	background-color: var(--rojo-100) !important;
}

.btn-primary {
	background-color: var(--rojo-100);
	border: 1px solid rgba(210, 19, 18, 1);
}

.btn-primary:hover {
	background-color: var(--rojo-50);
	border: 1px solid rgba(210, 19, 18, 1);
}

.toast-header {
	background-color: var(--rojo-100);
	color: #fff;
}